{{> navbar}}

<div class="light-box">
  <div class="container">
    <h1 class="title">Notebook</h1>
    <div class="line"></div>
    <div class="button-container">

      <a href="/{{username}}/new-post" class="img-button" id="new-button">
        <div class="clip16x16">
          <img class="plus-symbol" src="images/one_note.png" alt="image">
        </div>
        <span class="content-btn-right">New</span>
      </a>

      <a href="" class="img-button" id="manage-button">

      </a>
    </div>
  </div>
</div>
