<div class="container">

  <div class="login-form">
    <div class="card">
      <h1 class="title">Register</h1>
      <form action="/register" method="POST">
        <div class="input-container">
          <input type="text" id="Username" required="required" placeholder="Username" name="username">

        </div>
        <div class="input-container">
          <input type="password" id="Password" required="required" placeholder="Password" name="password">

        </div>
        <div class="button-container text-center">
          <button type="submit"><span>Register</span></button>
        </div>
      </form>
    </div>

    <div class="card alt">
      <span class="fa-stack fa-5x">
        <i class="fa fa-circle fa-stack-2x"></i>
        <a class="fa fa-home fa-stack-1x fa-inverse" href="/login"></a>
      </span>

    </div>
  </div>
</div>